nav{
background-color: rgb(0,152,209);
color: white;
font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
line-height: 35px;
text-align: center;

}
h2{
    color: #ffffff;
    border:#24b47e solid 5px ;
    border-radius: 5px;
    background-color: rgb(0,152,209);
    padding: 10px;
    text-align: center;
}
li{
    display: inline;
    
}
a:visited{
    color: white;
}
a:hover{
    color: white;
    text-underline-offset: 3px;
}
a:link{
    color: white;
}

#Contact{
    background-color: gray;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    margin-left: 0px;
    width: 15%;
}
iframe{
    float: right;
    
}

footer{
    margin-top: 30%;
    margin-right: 79%;
}
p{
    text-align: center;
    color: white;
}
article{
    
    background-color:white;
}
h1{
    text-align: center;
    border: #24b47e solid 5px;
    border-radius: 5px;
    color: white;
    background-color:  rgb(0,152,209);
    
}
body{
    background-color: rgb(185, 179, 179);
}
article{
    background-color: rgb(185,179,179);
}
img
{
    float: right;
}
section{
    float: left;
}
footer{
    clear: both;
}