nav{
background-color: rgb(0,152,209);
color: white;
font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
line-height: 35px;
}
li{
    display: inline;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}
a:link{
    color: white;
}

#Contact{
    background-color: gray;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    margin-left: 0px;
    width: 15%;
}
iframe{
    float: right;
    
}

footer{
    margin-top: 30%;
    margin-right: 79%;
}