body{
    
    margin: auto;
}
nav{
    background-color: rgb(0,152,209);
    color: white;
    font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 35px;
    text-align: center;
    
    }
    
li{
    display: inline;
    padding: 10px;
    font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: White;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    font-weight: 600;
    text-underline-offset: 3px;
}
#contact{
    text-decoration: none;
    color: #747474;
    font-family: "Lato", Sans-serif;
    font-weight: 400;
}
#contact:hover{
    font-weight: 600;
}
h1{
    font-family: "Cera Pro", Sans-serif;
    font-weight: 900;
    color: #0099d1;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: black;
}
header{
    
}